alabaster==0.7.12
altgraph==0.16.1
anytree==2.6.0
appdirs==1.4.3
asn1crypto==0.24.0
astor==0.7.1
Babel==2.7.0
backports.csv==1.0.7
Beaker==1.10.1
bitstring==3.1.5
CacheControl==0.12.5
cachetools==3.1.0
cffi==1.12.3
chardet==3.0.4
Click==7.0
clint==0.5.1
colorama==0.4.1
configparser==3.7.4
contextlib2==0.5.5
cryptography==2.6.1
cycler==0.10.0
Cython==0.29.10
distlib==0.2.9
distro==1.4.0
dj-database-url==0.5.0
Django==2.2
django-heroku==0.3.1
docopt==0.6.2
docutils==0.14
easywebdav==1.2.0
entrypoints==0.3
Flask==1.0.2
fudge==1.1.1
funcparserlib==0.3.6
future==0.17.1
glfw==1.7.1
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
gufw==18.10.0
gunicorn==19.9.0
html5lib==1.0.1
httplib2==0.12.1
hy==0.17.0
idna==2.8
imagesize==1.1.0
internetarchive==1.8.4
iotop==0.6
isodate==0.6.0
itsdangerous==1.1.0
jeepney==0.4
Jinja2==2.10.1
jsonpatch==1.23
jsonpointer==2.0
keyring==19.0.1
Kivy==1.10.1
kiwisolver==1.0.1
lockfile==0.12.2
louis==3.10.0
lxml==4.3.4
macholib==1.11
Mako==1.0.12
mallard-ducktype==1.0.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==2.2.2
mido==1.2.9
msgpack==0.6.1
namcap==3.2.7
ndg-httpsclient==0.5.1
numpy==1.16.4
oauth2client==4.1.3
osc-gen==0.1.1
p5==0.5.0
packaging==19.0
pefile==2019.4.14
pep517==0.5.0
Pillow==5.3.0
pip-tools==3.7.0
pipman==0.6.2
ply==3.11
progress==1.5
psycopg2==2.8.2
pyalpm==0.8.5
pyalsaaudio==0.8.4
pyasn1==0.4.5
pyasn1-modules==0.2.4
PyAudio==0.2.11
PyAutoGUI==0.9.38
pycparser==2.19
PyDrive==1.3.1
pyelftools==0.25
pygame==1.9.4
pyglet==1.3.2
Pygments==2.4.2
PyGObject==3.32.1
pyliblo==0.10.0
PyMsgBox==1.0.6
pyo==0.9.1
pyOpenSSL==19.0.0
pyparsing==2.4.0
PyQt4-sip==4.19.16
PyQt5==5.12.2
PyQt5-sip==4.19.17
PyScreeze==0.1.18
PySoundFile==0.9.0.post1
python-dateutil==2.7.3
python-gnupg==0.4.4
python-rtmidi==1.3.0
pytoml==0.1.20
PyTweening==1.0.3
pytz==2019.1
PyYAML==5.1
QtPy==1.7.0
rdflib==4.2.2
requests==2.22.0
retrying==1.3.3
rply==0.7.7
rsa==4.0
rtmidi==2.3.4
rtmidi-python==0.2.2
schema==0.7.0
scipy==1.1.0
SecretStorage==3.1.1
simpleaudio==1.0.2
simplejson==3.16.0
sip==4.19.17
six==1.12.0
snowballstemmer==1.2.1
soundcloud==0.5.0
Sphinx==2.1.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.3.4
sqlparse==0.3.0
total-ordering==0.1.0
ufw==0.36
uritemplate==3.0.0
urllib3==1.25.3
vispy==0.5.3
webencodings==0.5.1
Werkzeug==0.15.2
whitenoise==4.1.2
Whoosh==2.7.4
xlib==0.21
