h1 { color: #b3b3b3;
background: #262626;
padding: 0 0 0 0;
font-weight: bold;
}

body {
background-color:#262626;
color:#b3b3b3;
font-family:Arial,sans-serif;
margin: 0 4px 0 0;
}

#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    right: 0px;
}
/* unvisited link */
a:link {
  color: lightblue;
}

/* mouse over link */
a:hover {
  color: hotpink;
}
