{% extends "base.html" %}

{% block content %}
	<title>Electribe 2 allpat/zip Converter</title>
	<h1>Electribe 2 allpat/zip Converter</h1>
	<form method=post enctype=multipart/form-data>
	  <p><input type=file name=file>
		 <input type=submit value=convert>
	</form>
	<p></p>
	<h3>Help:</h3>
	<p></p>
	<p>Submit allpat file and receive zip archive of patterns + global settings backup.</p>
	<p></p>
	<p>Submit zip archive of patterns + global settings backup and receive allpat file.</p>
	<p></p>
	<p>Zip must contain at least 250 pattern files and 1 global settings backup.</p>
	<p></p>
	<p>Get global settings backup file by submitting allpat file.</p>
	<p></p>
	<p>First 250 patterns will be added to allpat file in alphanumeric order by filename.</p>
	<p></p>
	<p>Re-order and rename patterns by editing filenames.</p>
	<p></p>
	<p>Filenames must retain 4 character 'nnn_' prefix for patterns to be named correctly.</p>
	<p></p>
	<h3>Support</h3>
	<a href="http://www.korgforums.com/forum/phpBB2/viewtopic.php?t=118795" target="_blank" rel="noopener noreferrer">Korg Forums</a>
	<p></p>
	<p>_____________________________________________________________________________________</p>
	<p></p>
	<h3>Shameless plug...</h3>
	<a href="http://ccmixter.org/people/bangcorrupt" target="_blank" rel="noopener noreferrer">Bang Corrupt - Free Music</a>
	<p></p>
	<a href="https://freesound.org/people/bangcorrupt/" target="_blank" rel="noopener noreferrer">Bang Corrupt - Free Sound</a>
	
{% endblock %}
